[submodule "vim-pathogen"]
	path = HOME/vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-colors-solarized"]
	path = HOME/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "darkspectrum"]
	path = HOME/vim/bundle/darkspectrum
	url = git://github.com/vim-scripts/darkspectrum
