[submodule "vim-pathogen"]
	path = HOME/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-colors-solarized"]
	path = HOME/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "darkspectrum"]
	path = HOME/vim/bundle/darkspectrum
	url = https://github.com/vim-scripts/darkspectrum
[submodule "HOME/vim/bundle/editorconfig-vim"]
	path = HOME/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "HOME/vim/bundle/vim-hdevtools"]
	path = HOME/vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools
[submodule "HOME/vim/bundle/syntastic"]
	path = HOME/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "HOME/oh-my-zsh"]
	path = HOME/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "HOME/vim/bundle/YouCompleteMe"]
	path = HOME/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "HOME/vim/bundle/vim-gitgutter"]
	path = HOME/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "HOME/vim/bundle/vim-airline"]
	path = HOME/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "HOME/vim/bundle/ctrlp.vim"]
	path = HOME/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "HOME/vim/bundle/ghcmod-vim"]
	path = HOME/vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "HOME/vim/bundle/vimproc.vim"]
	path = HOME/vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "HOME/vim/bundle/neco-ghc"]
	path = HOME/vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule "HOME/vim/bundle/base16-vim"]
	path = HOME/vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
	branch = master
[submodule "HOME/vim/bundle/nerdtree"]
	path = HOME/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "HOME/vim/bundle/nerdtree-git-plugin"]
	path = HOME/vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "HOME/vim/bundle/nerdcommenter"]
	path = HOME/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "HOME/vim/bundle/Dockerfile.vim"]
	path = HOME/vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "HOME/vim/bundle/vim-sensible"]
	path = HOME/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "HOME/vim/bundle/gina.vim"]
	path = HOME/vim/bundle/gina.vim
	url = https://github.com/lambdalisue/gina.vim
[submodule "HOME/vim/bundle/vital.vim"]
	path = HOME/vim/bundle/vital.vim
	url = https://github.com/vim-jp/vital.vim
[submodule "HOME/vim/bundle/deoplete.nvim"]
	path = HOME/vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "HOME/vim/bundle/vim-unimpaired"]
	path = HOME/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "HOME/vim/bundle/vim-obsession"]
	path = HOME/vim/bundle/vim-obsession
	url = https://github.com/vphantom/vim-obsession
[submodule "HOME/vim/bundle/vim-pencil"]
	path = HOME/vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil
